@use '../../styles/vars';

.app {
  width: 500px;
  margin: 0em auto;
  background-color: vars.$color-alt;
  height: 100vh;
  padding: vars.$gutter vars.$gutter 0; 
  display: flex; 
  flex-direction: column; 
}
