@use '../../styles/vars';

.settings {
  position: fixed;
  top: vars.$gutter;
  right: vars.$gutter;
  display: flex; 
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: vars.$gutter;
  z-index: 1;

  transition: transform 0.5s;
  transform: translateX(15.5rem);


  // transformation à appliquer si le settinfs est en état fermé
  &--open {
    transform: translateX(0);

    .settings__open-close{
      transform: rotate(405deg);
    }
  }

  &__open-close{
    transition: transform 1s;
    border-radius: 50%;
    background-color: vars.$color-light;
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: vars.$color-main;
    margin-right: 1rem;

  }

  &__form{
    width: 13rem;
  }

  &__field{
    display: block;
    width: 100%;
    margin-bottom: 0.5 * vars.$gutter;
    padding: 0.5 * vars.$gutter;
    border: none;
    border-radius: 0.5rem; 
  }

  &__submit{
    display: block;
    width: 100%;
    padding: 0.5 * vars.$gutter;
    border: none;
    border-radius: 0.5rem; 
    background-color: vars.$color-third;
    color: vars.$color-light;

  }
}
