@use '../../styles/vars';

.message{
  margin: 1.5 * vars.$gutter 0;

  &__author{
    margin-bottom: 0.5 * vars.$gutter;
  }

  &__content{
    border: solid 1px #000;
    padding: vars.$gutter;
  }

}
